* {
    box-sizing: border-box;
}

.nav {
    background-color: #4a7685;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0 1em;
}

.nav-link:hover {
    background-color: #93b1b9;
}

.nav a{
    display: block;
    transition: background-color 0.2s ease-in-out;
    background-color: #528090;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: sans-serif;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  #terms{
    font-size: 12px; 
  }
}
.nav a:hover {
    color: #FFFFFF;
}