.container-cards{
    align-items: center;
    border: 2px solid #b80707dd;
}

.card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 10px;
}